@charset "utf-8";

/* font */
@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  src: url(../font/NotoSansKR-Regular.otf);
  src: url(../font/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: NSBold;
  font-style: normal;
  font-weight: 700;
  src: url(../font/NotoSansKR-Bold.otf);
  src: url(../font/NotoSansKR-Bold.otf) format("opentype");
}

/* reset */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
html {
  height: 100%;
  overflow-y: scroll;
}
html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
input,
select,
textarea {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
img,
fieldset {
  border: none;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  word-wrap: break-word;
  table-layout: fixed;
}
ul,
ol,
li {
  list-style: none;
}
address,
em {
  font-style: normal;
}
i {
  vertical-align: middle;
  font-size: 18px;
}
img,
object {
  vertical-align: top;
}
input,
select,
button,
textarea {
  vertical-align: top;
}
textarea {
  resize: none;
}
button {
  display: inline-block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  border: 0;
}
hr {
  display: none;
}
noscript {
  display: block;
}
strong {
  font-weight: normal;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="email"] {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 0;
  color: #333;
  box-sizing: border-box;
  background-color: #fff;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input[type="radio"] {
  -webkit-appearance: none;
  border: 0;
  border-radius: 20px;
  margin: 0;
  width: 16px;
  height: 16px;
  background: url(../img/mb/ico/radio_off.png) no-repeat 0 0;
  background-size: 16px 16px;
  vertical-align: middle;
} /*overflow:hidden;*/
input[type="radio"]:checked {
  background: url(../img/mb/ico/radio_on.png) no-repeat 0 0;
  background-size: 16px 16px;
}
input[type="checkbox"] {
  -webkit-appearance: none;
  border: 0;
  margin: 0;
  width: 23px;
  height: 23px;
  background: url(../img/mb/ico/check_off.png) no-repeat 0 0;
  background-size: 23px 23px;
  vertical-align: middle;
} /*overflow:hidden;*/
input[type="checkbox"]:checked {
  background: url(../img/mb/ico/check_on.png) no-repeat 0 0;
  background-size: 23px 23px;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="date"]:disabled,
input[type="number"]:disabled,
input[type="tel"]:disabled,
input[type="button"]:disabled,
input[type="email"]:disabled,
input[type="email"]:disabled {
  background-color: #f5f5f5 !important;
}
input:disabled,
input:readonly,
textarea:disabled,
select:disabled {
  -webkit-opacity: 0.5;
  -webkit-text-fill-color: #333;
  background-color: #000 !important;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 40px;
  padding: 10px;
  line-height: 20px;
  border: none;
  box-sizing: border-box;
  background: url(../img/mb/ico/btn_select_arrow.png) no-repeat 100% 50%;
}
select::-ms-expand {
  display: none;
}
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  overflow-x: scroll;
  box-sizing: border-box;
  overflow-x: hidden;
  resize: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888;
}

input::placeholder,
input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="tel"]::placeholder,
input[type="date"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder {
  font-size: 15px;
}

/* skip */
.skip,
legend,
caption {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  left: -5000px;
  overflow: hidden;
}
.blind {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  line-height: 0;
  font-size: 0;
}
caption {
  position: static;
}

/* font */
body,
input,
select,
textarea,
button {
  color: #000;
  font-size: 16px;
  font-family: NotoSansKR, Malgun Gothic, "맑은 고딕", Tahoma, sans-serif;
}

/* anchor */
a {
  color: #000;
  text-decoration: none;
}
a:link,
a:visited,
a:focus {
  color: #000;
  text-decoration: none;
}
a:hover,
a:active {
  color: #000;
  text-decoration: none;
}

/* skipNavi*/
#skipNavi {
  position: absolute;
}
#skipNavi a {
  display: block;
  position: absolute;
  width: 0px;
  height: 1px;
  color: #000;
  font-size: 0;
  overflow: hidden;
}
#skipNavi a:focus,
#skipNavi a:active {
  position: relative;
  width: 1260px;
  height: auto;
  font-size: 1.5em;
  line-height: 2.4em;
  text-align: center;
  color: #fff;
  font-family: NSBold;
  background-color: #000;
  z-index: 9999;
}

/*--------------------------------------------------------------------------*/
/* layout
-----------------------------------------------------------------------------*/
.wrap_all {
  overflow: hidden; /*min-width:1902px;*/
}
@media screen and (max-width: 1366px) {
  .wrap_all {
    min-width: 1006px;
  }
}
#header {
  position: relative;
  height: 165px;
}
.top_group {
  position: relative;
  height: 50px;
  padding: 0 50px;
  background-color: #35d0c7;
}
.top_group .title {
  padding: 13px 0 0 0;
  color: #000;
  font-size: 15px;
}
.top_group .title span {
  color: #fff;
}
.top_group .btn_closed {
  width: 50px;
  height: 50px;
}

#header .logo_group {
  position: relative;
  min-height: 86px;
  padding: 0 50px;
  z-index: 101;
}
#header .logo_group .btn_menu {
  display: inline-block;
  position: absolute;
  top: 37px;
  left: 50px;
  width: 21px;
  height: 18px;
  background: url(../img/mb/common/btn_menu_all.png) no-repeat 0 0;
  background-size: 21px 18px;
}
#header .logo_group .logo {
  padding: 34px 0 0 40px;
}
#header .logo_group .logo a {
  display: block;
  width: 170px;
  height: 24px;
  background: url(../img/mb/common/logo.png) no-repeat 0 0;
  background-size: 170px 24px;
}

#header .user_group {
  position: absolute;
  top: 38px;
  right: 50px;
}
#header .user_group ul {
  overflow: hidden;
}
#header .user_group ul li {
  position: relative;
  display: inline-block;
  padding: 0 0 0 24px;
  color: #fff;
  line-height: 13px;
}
#header .user_group ul li:before {
  display: block;
  content: "";
  position: absolute;
  top: 2px;
  left: 11px;
  width: 1px;
  height: 11px;
  background-color: #3c3c3c;
}
#header .user_group ul li:first-child {
  padding-left: 0;
  border-left: 0;
}
#header .user_group ul li:first-child:before {
  display: none;
}
#header .user_group ul li a {
  font-size: 14px;
  color: #000;
}
#header .user_group ul li.ico_01 a {
  padding-left: 15px;
  background: url(../img/pc/common/user_ico_01.png) no-repeat 0 50%;
}
#header .user_group ul li.ico_02 a {
  padding-left: 15px;
  background: url(../img/pc/common/user_ico_02.png) no-repeat 0 50%;
}
#header .user_group ul li.ico_03 a {
  padding-left: 15px;
  background: url(../img/pc/common/user_ico_03.png) no-repeat 0 50%;
}
#header .user_group ul li.ico_04 a {
  padding-left: 15px;
  background: url(../img/pc/common/user_ico_04.png) no-repeat 0 50%;
}
#header .user_group ul li.ico_05 a {
  padding-left: 15px;
  background: url(../img/pc/common/user_ico_05.png) no-repeat 0 50%;
}
#header .user_group ul li.ico_06 a {
  padding-left: 15px;
  background: url(../img/pc/common/user_ico_06.png) no-repeat 0 50%;
}
#header .link {
  position: absolute;
  top: 116px;
  right: 50px;
  height: 20px;
}
#header .link ul {
  float: left;
}
#header .link li {
  position: relative;
  float: left;
  padding: 0 0 0 18px;
}
#header .link li:before {
  display: block;
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 2px;
  height: 2px;
  background-color: #9e9e9e;
}
#header .link li:first-child {
  padding-left: 0;
}
#header .link li:first-child:before {
  display: none;
}
#header .link li a {
  font-size: 17px;
  color: #777;
  line-height: 20px;
}
#header .link .btn_search {
  float: right;
  margin-left: 18px;
  width: 20px;
  height: 20px;
  background: url(../img/pc/common/btn_search.png) no-repeat 0 0;
}

.nav_group {
  position: absolute;
  top: 95px;
  left: 0;
  right: 0;
  height: 70px;
  padding: 0 50px;
  z-index: 100;
  border-bottom: 1px solid #e5e5e5;
}
.nav_group .menu > ul {
  overflow: hidden;
}
.nav_group .menu > ul > li {
  float: left;
  padding-left: 47px;
  background: url(../img/pc/common/nav_line.png) no-repeat 18px 27px;
}
.nav_group .menu > ul > li:first-child {
  padding-left: 0;
  background: none;
}
.nav_group .menu > ul > li > a {
  position: relative;
  font-size: 24px;
  line-height: 60px;
  color: #000;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
}
.nav_group .menu > ul > li > a:hover:before,
.nav_group .menu > ul > li.on > a:before {
  display: block;
  content: "";
  width: 100%;
  height: 8px;
  z-index: -1;
  position: absolute;
  bottom: 0;
  background-color: #2dbfbb;
}
.nav_group .menu .depth2 {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}
.nav_group .menu .depth2 > ul,
.nav_group .menu .depth3 > ul {
  margin: 0 50px;
  overflow: hidden;
}
.nav_group .menu .depth2 > ul > li,
.nav_group .menu .depth3 > ul > li {
  float: left;
  padding: 15px 40px 15px 0;
  line-height: 1;
}
.nav_group .menu .depth2 > ul > li > a {
  font-size: 17px;
}
.nav_group .menu .depth3 {
  display: none;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}
.nav_group .menu .depth2 > ul > li > a:hover,
.nav_group .menu .depth2 > ul > li.on > a,
.nav_group .menu .depth3 > ul > li > a:hover,
.nav_group .menu .depth3 > ul > li.on > a {
  color: #2dbfbb;
}
.nav_group .menu > ul > li.on > .depth2,
.nav_group .menu > ul > li > .depth2 > ul > li.on .depth3 {
  display: block;
}

.aside {
  position: absolute;
  top: 0;
  left: -480px;
  bottom: 0;
  width: 480px;
  min-height: 1080px;
  z-index: 300;
  background-color: #fff;
}
.aside .head {
  min-height: 155px;
  padding: 60px 40px 30px 40px;
  box-sizing: border-box;
  background-color: #666;
}
.aside .head .user_info {
  margin: 0;
  width: auto;
  background-color: transparent;
}
.aside .head .user_info .inner {
  min-height: auto;
}
.aside .head .user_info .photo {
  float: left;
  margin: 0;
  width: 65px;
  height: 65px;
}
.aside .head .user_info .edit_cont {
  margin-left: 80px;
  border: 0;
}
.aside .head .user_info .edit_cont .name {
  margin: 0;
  padding-top: 5px;
}
.aside .head .user_info .edit_cont .name,
.aside .head .user_info .edit_cont .name strong {
  font-size: 18px;
  color: #fff;
}
.aside .head .user_info .edit_cont .btn_link {
  margin: 5px 0 0 0;
}
.aside .head .user_info .edit_cont .arrow_r_gray {
  color: #ccc !important;
}
.aside .head .user_info .edit_cont.off {
  margin-left: 0;
}

.aside .menu_area {
  padding: 40px;
}
.aside .menu_area .dep1 {
  display: block;
  padding-left: 40px;
  color: #000;
  font-size: 20px;
  line-height: 27px;
}
.aside .menu_area .dep1.ico1 {
  background: url(../img/pc/common/menu_dep1_ico_1.png) no-repeat 0 50%;
}
.aside .menu_area .dep1.ico2 {
  background: url(../img/pc/common/menu_dep1_ico_2.png) no-repeat 0 50%;
}
.aside .menu_area .dep1.ico3 {
  background: url(../img/pc/common/menu_dep1_ico_3.png) no-repeat 0 50%;
}
.aside .menu_area .dep1.ico4 {
  background: url(../img/pc/common/menu_dep1_ico_4.png) no-repeat 0 50%;
}
.aside .menu_area .dep1.ico5 {
  background: url(../img/pc/common/menu_dep1_ico_5.png) no-repeat 0 50%;
}
.aside .menu_area .dep2 {
  margin: 20px 0 50px 0;
  overflow: hidden;
}
.aside .menu_area .dep2 li {
  float: left;
  margin-right: 20px;
}
.aside .menu_area .dep2 a {
  color: #888;
}
.aside .menu_area > ul > li:last-child .dep2 {
  margin-bottom: 0;
}

.aside .link_area ul {
  overflow: hidden;
}
.aside .link_area ul li {
  width: 50%;
  float: left;
  padding: 20px 20px 20px 40px;
  box-sizing: border-box;
}
.aside .link_area a {
  display: block;
  position: relative;
  padding-left: 40px;
  color: #00bab3;
  font-size: 18px;
  line-height: 27px;
}
.aside .link_area a:after {
  display: block;
  content: "";
  width: 8px;
  height: 12px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -6px;
  background: url(../img/mb/ico/ico_arrow_r_green.png) no-repeat 0 0;
  background-size: 8px 12px;
}
.aside .link_area ul li.link_1 a {
  background: url(../img/pc/common/aside_link_ico_1.png) no-repeat 0 50%;
}
.aside .link_area ul li.link_2 a {
  background: url(../img/pc/common/aside_link_ico_2.png) no-repeat 0 50%;
}

#footer {
  padding-bottom: 95px;
  border-top: 1px solid #ccc;
}
#footer:after {
  display: block;
  content: "";
  height: 0;
}
#footer .inner {
  border-top: 1px solid #e7e7e7;
}
#footer .terms_group {
  padding: 12px 0 11px 0;
}
#footer .terms_group ul {
  overflow: hidden;
}
#footer .terms_group li {
  float: left;
  margin-left: 23px;
}
#footer .terms_group li:first-child {
  margin-left: 0;
}
#footer .terms_group li a {
  font-size: 14px;
  color: #000;
}
#footer .address_group {
  padding-top: 12px;
  color: #999;
  font-size: 14px;
  line-height: 24px;
}
#footer .address_group .point {
  color: #1eb8a0;
}
